selenium:
  address: http://localhost:4444/wd/hub

job:
  scheduler:
    rate: 60000

finanzblick:
  address: https://www.buhl.de/finanzblick/
  user: ${FINANZBLICK_USER}
  password: ${FINANZBLICK_PW}

---
spring:
  profiles: docker

selenium:
  address: http://selenium:4444/wd/hub

---
spring:
  profiles: rasp

selenium:
  address: http://raspberrypi:4444/wd/hub

---
spring:
  profiles: livedb

  datasource:
    url: jdbc:mysql://kdr.dynip.online:9779/fb
    username: ${DB_USER}
    password: ${DB_PW}
    driverClassName: org.mariadb.jdbc.Driver

    jpa:
      database-plattform: org.hibernate.dialect.MySQL5Dialect
      hibernate:
        ddl-auto: update



